<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medcheck" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".AgendaActivity"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity android:name=".PieChart" >
        </activity>
        <activity android:name=".MakeBar" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>

        <activity
            android:name=".DoctorMainActivity"
            android:label="@string/title_activity_doctor_main" >
        </activity>
        <activity
            android:name=".AddPatientActivity"
            android:label="@string/title_activity_add_patient" >
        </activity>
        <activity
            android:name=".ViewPatientActivity"
            android:label="@string/title_activity_view_patient" >
        </activity>
    </application>

</manifest>
